USE [master]
GO
/****** Object:  Database [safatique]    Script Date: 20/11/2024 05:13:03 ******/
CREATE DATABASE [safatique]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'safatique', FILENAME = N'F:\sqlserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\safatique.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'safatique_log', FILENAME = N'F:\sqlserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\safatique_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [safatique].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [safatique]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](4000) NOT NULL,
	[city] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](4000) NOT NULL,
	[lastname] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [char](10) NOT NULL,
	[date_created] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_id] [int] NOT NULL,
	[prod_id] [char](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](4000) NOT NULL,
	[address] [nvarchar](4000) NOT NULL,
	[contact] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyPromotion]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyPromotion](
	[comany_id] [int] NOT NULL,
	[promotion_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyUser]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyUser](
	[company_id] [int] NOT NULL,
	[username] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyVistors]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyVistors](
	[company_id] [int] NOT NULL,
	[date] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](4000) NOT NULL,
	[lastname] [nvarchar](4000) NULL,
	[email] [nvarchar](4000) NOT NULL,
	[phone] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddress]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddress](
	[customer_id] [int] NOT NULL,
	[address_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCart]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCart](
	[customer_id] [int] NOT NULL,
	[cart_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPaymentInfo]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPaymentInfo](
	[customer_id] [int] NOT NULL,
	[payment_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryCharges]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryCharges](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](20) NOT NULL,
	[cost] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSupplier]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSupplier](
	[mat_id] [int] NOT NULL,
	[supplier_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_id] [int] NOT NULL,
	[prod_id] [char](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_date] [date] NOT NULL,
	[payment_status] [nvarchar](4000) NOT NULL,
	[processing_status] [nvarchar](4000) NOT NULL,
	[delivery_method] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentInfo]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentInfo](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[cardnumber] [varchar](16) NOT NULL,
	[card_cvc] [int] NOT NULL,
	[card_expiry] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[prod_id] [char](20) NOT NULL,
	[name] [nvarchar](4000) NOT NULL,
	[price] [float] NOT NULL,
	[category] [nvarchar](4000) NOT NULL,
	[description] [nvarchar](4000) NULL,
	[photo_path] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](4000) NOT NULL,
	[description] [nvarchar](4000) NOT NULL,
	[discount] [float] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterial]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterial](
	[mat_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](4000) NOT NULL,
	[type] [nvarchar](4000) NOT NULL,
	[quantity] [int] NOT NULL,
	[cost] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Safatique data - Users]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Safatique data - Users](
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](4000) NOT NULL,
	[contact] [varchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [char](10) NOT NULL,
	[password] [varchar](16) NOT NULL,
	[role] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAdmin]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAdmin](
	[username] [char](10) NOT NULL,
	[employee_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCustomer]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCustomer](
	[username] [char](10) NOT NULL,
	[customer_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 20/11/2024 05:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[date] [date] NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([address_id], [address], [city]) VALUES (1, N'125/1 11th street khayaban e Rahat phase 6  Karachi  Pakistan', N'Karachi             ')
INSERT [dbo].[Address] ([address_id], [address], [city]) VALUES (2, N'House no 978 Block B Satellite Town  Rawalpindi  Pakistan', N'Rawalpindi          ')
INSERT [dbo].[Address] ([address_id], [address], [city]) VALUES (3, N'House no. 13 Set 7  Block E naval anchorage  Islamabad  Pakistan', N'Islamabad           ')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([employee_id], [firstname], [lastname]) VALUES (1, N'Shaaf', N'Farooque')
INSERT [dbo].[Admin] ([employee_id], [firstname], [lastname]) VALUES (2, N'Sajal', N'Fatima')
INSERT [dbo].[Admin] ([employee_id], [firstname], [lastname]) VALUES (3, N'Hania', N'Kashif')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [firstname], [lastname], [email], [phone]) VALUES (1, N'Maria', N'Imran', N'Marmi0778@gmail.com', N'92 345 8292336')
INSERT [dbo].[Customer] ([customer_id], [firstname], [lastname], [email], [phone]) VALUES (2, N'Aqleema', N'Ahmed', N'aqleema.062@gmail.com', N'92 323 9969092')
INSERT [dbo].[Customer] ([customer_id], [firstname], [lastname], [email], [phone]) VALUES (3, N'Areesha', N'Naqvi', N'Areeshab92@gmail.com', N'92 334 3809686')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[CustomerAddress] ([customer_id], [address_id]) VALUES (1, 1)
INSERT [dbo].[CustomerAddress] ([customer_id], [address_id]) VALUES (2, 2)
INSERT [dbo].[CustomerAddress] ([customer_id], [address_id]) VALUES (4, 3)
GO
INSERT [dbo].[CustomerPaymentInfo] ([customer_id], [payment_id]) VALUES (17, 1)
INSERT [dbo].[CustomerPaymentInfo] ([customer_id], [payment_id]) VALUES (15, 2)
INSERT [dbo].[CustomerPaymentInfo] ([customer_id], [payment_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[DeliveryCharges] ON 

INSERT [dbo].[DeliveryCharges] ([city_id], [city], [cost]) VALUES (1, N'Karachi', 200)
INSERT [dbo].[DeliveryCharges] ([city_id], [city], [cost]) VALUES (2, N'Lahore', 250)
INSERT [dbo].[DeliveryCharges] ([city_id], [city], [cost]) VALUES (3, N'Islamabad', 250)
SET IDENTITY_INSERT [dbo].[DeliveryCharges] OFF
GO
INSERT [dbo].[MaterialSupplier] ([mat_id], [supplier_id]) VALUES (1, 3)
INSERT [dbo].[MaterialSupplier] ([mat_id], [supplier_id]) VALUES (2, 1)
INSERT [dbo].[MaterialSupplier] ([mat_id], [supplier_id]) VALUES (3, 2)
GO
INSERT [dbo].[OrderDetails] ([order_id], [prod_id], [quantity], [unit_price]) VALUES (1, N'P1_purple___________', 2, 400)
INSERT [dbo].[OrderDetails] ([order_id], [prod_id], [quantity], [unit_price]) VALUES (2, N'P23_green___________', 1, 200)
INSERT [dbo].[OrderDetails] ([order_id], [prod_id], [quantity], [unit_price]) VALUES (3, N'P16_blue____________', 1, 700)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [customer_id], [order_date], [payment_status], [processing_status], [delivery_method]) VALUES (1, 1, CAST(N'2024-05-31' AS Date), N'paid', N'delivered', N'shipping')
INSERT [dbo].[Orders] ([order_id], [customer_id], [order_date], [payment_status], [processing_status], [delivery_method]) VALUES (2, 2, CAST(N'2024-05-31' AS Date), N'paid', N'delivered', N'shipping')
INSERT [dbo].[Orders] ([order_id], [customer_id], [order_date], [payment_status], [processing_status], [delivery_method]) VALUES (3, 3, CAST(N'2024-06-01' AS Date), N'paid', N'delivered', N'self pickup')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentInfo] ON 

INSERT [dbo].[PaymentInfo] ([payment_id], [cardnumber], [card_cvc], [card_expiry]) VALUES (1, N'1234567890156', 123, CAST(N'2029-04-15' AS Date))
INSERT [dbo].[PaymentInfo] ([payment_id], [cardnumber], [card_cvc], [card_expiry]) VALUES (2, N'9864656464664', 456, CAST(N'2028-07-01' AS Date))
INSERT [dbo].[PaymentInfo] ([payment_id], [cardnumber], [card_cvc], [card_expiry]) VALUES (3, N'5886468496484', 789, CAST(N'2030-05-04' AS Date))
SET IDENTITY_INSERT [dbo].[PaymentInfo] OFF
GO
INSERT [dbo].[Product] ([prod_id], [name], [price], [category], [description], [photo_path]) VALUES (N'P1_purple___________', N'Cinnamon Roll Elastic Bracelet', 400, N'Bracelets', N'Suitable for average women''s wrist', N'./images/cinnamoroll bracelet.jpg')
INSERT [dbo].[Product] ([prod_id], [name], [price], [category], [description], [photo_path]) VALUES (N'P10_black___________', N'Simple Kuromi star Keychain', 550, N'Keychains', N'A dreamy Keychain that will go well with your bag', N'./images/kuromi keychains.jpg')
INSERT [dbo].[Product] ([prod_id], [name], [price], [category], [description], [photo_path]) VALUES (N'P11_black___________', N'Kuromi in the garden star keychain', 600, N'Keychains', N'The better version of our simple kuromi star keychain', N'./images/kuromi keychains.jpg')
GO
SET IDENTITY_INSERT [dbo].[RawMaterial] ON 

INSERT [dbo].[RawMaterial] ([mat_id], [name], [type], [quantity], [cost]) VALUES (1, N'Dark Purple Beads', N'Glass Beads', 205, 0.9)
INSERT [dbo].[RawMaterial] ([mat_id], [name], [type], [quantity], [cost]) VALUES (2, N'Ferozi Beads', N'Glass Beads', 100, 0.9)
INSERT [dbo].[RawMaterial] ([mat_id], [name], [type], [quantity], [cost]) VALUES (3, N'Transparent Green', N'Glass Beads', 98, 0.9)
SET IDENTITY_INSERT [dbo].[RawMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplier_id], [name], [contact]) VALUES (1, N'saddar', N'923331234567')
INSERT [dbo].[Supplier] ([supplier_id], [name], [contact]) VALUES (2, N'beadify', N'923123345561')
INSERT [dbo].[Supplier] ([supplier_id], [name], [contact]) VALUES (3, N'daraz', N'923156489186')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
INSERT [dbo].[User] ([username], [password], [role]) VALUES (N'Ahad001234', N'Pass1234', N'customer')
INSERT [dbo].[User] ([username], [password], [role]) VALUES (N'Ahoor00890', N'Pass1234', N'customer')
INSERT [dbo].[User] ([username], [password], [role]) VALUES (N'Alishba456', N'Pass1234', N'customer')
GO
INSERT [dbo].[UserAdmin] ([username], [employee_id]) VALUES (N'Shaaf01234', 2)
INSERT [dbo].[UserAdmin] ([username], [employee_id]) VALUES (N'Sajal01234', 1)
INSERT [dbo].[UserAdmin] ([username], [employee_id]) VALUES (N'Hania01234', 3)
GO
INSERT [dbo].[UserCustomer] ([username], [customer_id]) VALUES (N'Maria00123', 1)
INSERT [dbo].[UserCustomer] ([username], [customer_id]) VALUES (N'Aqleema002', 2)
INSERT [dbo].[UserCustomer] ([username], [customer_id]) VALUES (N'Areesha003', 3)
GO
/****** Object:  Index [UQ__Address__CAA247C9F831F21B]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Address] ADD UNIQUE NONCLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Admin__C52E0BA91395F0D4]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Cart__2EF52A26738F47FF]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Cart] ADD UNIQUE NONCLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Company__3E2672344D782E85]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Company] ADD UNIQUE NONCLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__CD65CB84C5EB0D02]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Delivery__031491A908F775F6]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[DeliveryCharges] ADD UNIQUE NONCLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Orders__46596228FDE514EA]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PaymentI__ED1FC9EBA2CE24C4]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[PaymentInfo] ADD UNIQUE NONCLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__56958AB3915A85B4]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Promotio__84EB4CA4BCA56153]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Promotions] ADD UNIQUE NONCLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__RawMater__FCB3E52653B5C65F]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[RawMaterial] ADD UNIQUE NONCLUSTERED 
(
	[mat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Supplier__6EE594E9736EE5F8]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Supplier] ADD UNIQUE NONCLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC572E24103D7]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Visitors__D9DE21FDE1E89D03]    Script Date: 20/11/2024 05:13:03 ******/
ALTER TABLE [dbo].[Visitors] ADD UNIQUE NONCLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [CartItems_fk0] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [CartItems_fk0]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [CartItems_fk1] FOREIGN KEY([prod_id])
REFERENCES [dbo].[Product] ([prod_id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [CartItems_fk1]
GO
ALTER TABLE [dbo].[CompanyPromotion]  WITH CHECK ADD  CONSTRAINT [CompanyPromotion_fk0] FOREIGN KEY([comany_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[CompanyPromotion] CHECK CONSTRAINT [CompanyPromotion_fk0]
GO
ALTER TABLE [dbo].[CompanyPromotion]  WITH CHECK ADD  CONSTRAINT [CompanyPromotion_fk1] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotions] ([promo_id])
GO
ALTER TABLE [dbo].[CompanyPromotion] CHECK CONSTRAINT [CompanyPromotion_fk1]
GO
ALTER TABLE [dbo].[CompanyUser]  WITH CHECK ADD  CONSTRAINT [CompanyUser_fk0] FOREIGN KEY([company_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[CompanyUser] CHECK CONSTRAINT [CompanyUser_fk0]
GO
ALTER TABLE [dbo].[CompanyUser]  WITH CHECK ADD  CONSTRAINT [CompanyUser_fk1] FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[CompanyUser] CHECK CONSTRAINT [CompanyUser_fk1]
GO
ALTER TABLE [dbo].[CompanyVistors]  WITH CHECK ADD  CONSTRAINT [CompanyVistors_fk0] FOREIGN KEY([company_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[CompanyVistors] CHECK CONSTRAINT [CompanyVistors_fk0]
GO
ALTER TABLE [dbo].[CompanyVistors]  WITH CHECK ADD  CONSTRAINT [CompanyVistors_fk1] FOREIGN KEY([date])
REFERENCES [dbo].[Visitors] ([date])
GO
ALTER TABLE [dbo].[CompanyVistors] CHECK CONSTRAINT [CompanyVistors_fk1]
GO
ALTER TABLE [dbo].[CustomerAddress]  WITH NOCHECK ADD  CONSTRAINT [CustomerAddress_fk0] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[CustomerAddress] CHECK CONSTRAINT [CustomerAddress_fk0]
GO
ALTER TABLE [dbo].[CustomerAddress]  WITH NOCHECK ADD  CONSTRAINT [CustomerAddress_fk1] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([address_id])
GO
ALTER TABLE [dbo].[CustomerAddress] CHECK CONSTRAINT [CustomerAddress_fk1]
GO
ALTER TABLE [dbo].[CustomerCart]  WITH CHECK ADD  CONSTRAINT [CustomerCart_fk0] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[CustomerCart] CHECK CONSTRAINT [CustomerCart_fk0]
GO
ALTER TABLE [dbo].[CustomerCart]  WITH CHECK ADD  CONSTRAINT [CustomerCart_fk1] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[CustomerCart] CHECK CONSTRAINT [CustomerCart_fk1]
GO
ALTER TABLE [dbo].[CustomerPaymentInfo]  WITH NOCHECK ADD  CONSTRAINT [CustomerPaymentInfo_fk0] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[CustomerPaymentInfo] CHECK CONSTRAINT [CustomerPaymentInfo_fk0]
GO
ALTER TABLE [dbo].[CustomerPaymentInfo]  WITH NOCHECK ADD  CONSTRAINT [CustomerPaymentInfo_fk1] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PaymentInfo] ([payment_id])
GO
ALTER TABLE [dbo].[CustomerPaymentInfo] CHECK CONSTRAINT [CustomerPaymentInfo_fk1]
GO
ALTER TABLE [dbo].[MaterialSupplier]  WITH NOCHECK ADD  CONSTRAINT [MaterialSupplier_fk0] FOREIGN KEY([mat_id])
REFERENCES [dbo].[RawMaterial] ([mat_id])
GO
ALTER TABLE [dbo].[MaterialSupplier] CHECK CONSTRAINT [MaterialSupplier_fk0]
GO
ALTER TABLE [dbo].[MaterialSupplier]  WITH NOCHECK ADD  CONSTRAINT [MaterialSupplier_fk1] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[MaterialSupplier] CHECK CONSTRAINT [MaterialSupplier_fk1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [OrderDetails_fk0] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [OrderDetails_fk0]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [OrderDetails_fk1] FOREIGN KEY([prod_id])
REFERENCES [dbo].[Product] ([prod_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [OrderDetails_fk1]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [Orders_fk1] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Orders_fk1]
GO
ALTER TABLE [dbo].[UserAdmin]  WITH NOCHECK ADD  CONSTRAINT [UserAdmin_fk0] FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[UserAdmin] CHECK CONSTRAINT [UserAdmin_fk0]
GO
ALTER TABLE [dbo].[UserAdmin]  WITH NOCHECK ADD  CONSTRAINT [UserAdmin_fk1] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Admin] ([employee_id])
GO
ALTER TABLE [dbo].[UserAdmin] CHECK CONSTRAINT [UserAdmin_fk1]
GO
ALTER TABLE [dbo].[UserCustomer]  WITH NOCHECK ADD  CONSTRAINT [UserCustomer_fk0] FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[UserCustomer] CHECK CONSTRAINT [UserCustomer_fk0]
GO
ALTER TABLE [dbo].[UserCustomer]  WITH NOCHECK ADD  CONSTRAINT [UserCustomer_fk1] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[UserCustomer] CHECK CONSTRAINT [UserCustomer_fk1]
GO
USE [master]
GO
